<ion-header>
  <ion-toolbar>
    <ion-title>device-provision</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-icon name="ellipse"></ion-icon>

        </ion-col>
        <ion-col>
          <ion-label>
            <h3>John Doe</h3>
            <p>Last updated now</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-row>
      <ion-col class="ion-align-self-start">
        Device model

      </ion-col>
      <ion-col slot="end">
        M528
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>