<ion-header>
  <ion-toolbar>
    <ion-title>users-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-avatar slot="start">
          <img src="https://th.bing.com/th/id/R.03f159f4a7f45a725da8901336c8bcbf?rik=LuSuBQEoOkrZgA&pid=ImgRaw&r=0">
        </ion-avatar>
        <p>

          Mustafa
        </p>
      </ion-col>
      <ion-col size="4">
        mustafa@gmail.com
      </ion-col>
      <ion-col size="2">
        Admin
      </ion-col>

      <ion-col size="2">
        Registered
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>