<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sign In </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <section>
    <form [formGroup]="signInCtrl" (ngSubmit)="submit()">

      <ion-grid>
        <ion-row align-items-center class="ion-justify-content-center ">
          <ion-col size="8" align-self-center>
            <div class="ion-text-center">
              <ion-img src="./assets/images/logo.png"></ion-img>
            </div>
          </ion-col>
        </ion-row>

        <div class="inputs-container">
          <ion-row align-items-center>
            <ion-col>

              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input formControlName="identifier" type="email" color="primary"></ion-input>
              </ion-item>
              <p>{{
                idnetifierCtrl.errors?.API }}</p>
              <p *ngIf="idnetifierCtrl?.errors?.API" class="danger" padding>{{
                idnetifierCtrl.errors?.API }}</p>
            </ion-col>

            <ion-col size="12">

              <ion-item>
                <ion-label position="floating"> Password </ion-label>
                <ion-input formControlName="password" type="password" color="primary"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>


        </div>
        <ion-button expand="block" [disabled]="!signInCtrl.valid" type="submit">Sign In</ion-button>



      </ion-grid>

    </form>

  </section>



</ion-content>