<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sign In </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
        <section >
          <div class="ion-text-center">
            <ion-img src="./assets/images/logo.png"></ion-img>
          </div>
          <form [formGroup]="signInCtrl" (ngSubmit)="submit()">
            <div class="inputs-container">
              <ion-item>
                <ion-label  position="floating">Email</ion-label>
                <ion-input formControlName="identifier" type="email" color="primary"></ion-input>
              </ion-item>
              <p>{{
                idnetifierCtrl.errors?.API }}</p>
              <p *ngIf="idnetifierCtrl?.errors?.API" class="danger" padding>{{
                idnetifierCtrl.errors?.API }}</p>

              <ion-item>
                <ion-label position="floating"> Password </ion-label>
                <ion-input formControlName="password" type="password" color="primary"></ion-input>
              </ion-item>
            </div>
            <ion-button expand="block" [disabled]="!signInCtrl.valid"  type="submit">Sign In</ion-button>
          </form>
        </section>
    

      
</ion-content>
