.content-container{
    --background:rgb(245, 245, 245);
}

ion-input{

    border-radius: 10px !important;
    padding-left: 30px;
    font-size: 0.9em;
    border: 1px solid #f1f1f1 !important;
     width: 100%; 
     background-color: white;
}