<!-- <ion-header>
  <ion-toolbar>
    
    <ion-title>changePassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-container">
  <ion-grid class="ion-margin form-container">
    <ion-row class="ion-align-items-center">

      <ion-col size="12" padding>

        <ion-label position="floating">Old Password</ion-label>
        <ion-input></ion-input>
      </ion-col>
      <ion-col size="12" padding>

        <ion-label position="floating">New Password</ion-label>
        <ion-input></ion-input>
      </ion-col>
      <ion-col size="12" padding>

        <ion-label position="floating">Confirmation Password</ion-label>
        <ion-input></ion-input>
      </ion-col>
      <ion-col size="12" padding>
        <ion-button expand="block">


          <ion-label>
            <ion-icon slot="icon-only" name="checkmark-sharp"></ion-icon>
            Submit
          </ion-label>




        </ion-button>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>