ion-icon{
    color: green;
}

ion-card-content{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}
.icon{
    color: #09c;
}

.modal-class{
    --background : #222;
    --max-height	: 20px
}

ion-modal.stack-modal {
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
  }

  